/*********************************************
Author: Nirjan Khadka
URL: 
Details: Minimo Blog
Date: 2017//9/8
**********************************************/

/********* color guide *********
#fff white background
#626262 greyish text
#b4ad9e light grey
#f0f0f0 grey background for newsletter section
#333 black text for newsletter header and footer text


/********* Typography **************
scale - http://www.modularscale.com/?18&px&2
logo - font-family: 'Inconsolata', monospace; 30px
 nav,button,headings(bold 36px),paragraphs,footer(16px) - font-family: 'Playfair Display', serif; 18px
 comment,category - font-family: 'Ubuntu', sans-serif; 18px
/******************************************
1. Reset
2. Grid
3. Typography style
4. Nav
5. Header
6. Main
7. Footer
8. Media Queries
*******************************************/

/************ Reset ***********************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
body {
    line-height: 1;
    background-color: #fff;
}
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a{ 
  text-decoration: none;
  display: inline-block;
 }
html{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*********** Grid ***********************/
.col-flex{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-flow:column;
          flex-flow:column;
  -webkit-box-align:start;
      -ms-flex-align:start;
          align-items:flex-start;
}
 
 .row{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-pack:distribute;
      justify-content:space-around;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
}
.col{
  padding:1%;
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3.6rem;
}
.col{ -webkit-box-flex:0; -ms-flex:0 1 96%; flex:0 1 96%; }

@media screen and (min-width:614px) and (max-width:1098px){
  .col{ -webkit-box-flex:0; -ms-flex:0 1 46%; flex:0 1 46%; }
  .row{ -ms-flex-wrap:wrap; flex-wrap:wrap; }
}

@media screen and (min-width:1099px){
  .col{ -webkit-box-flex:0; -ms-flex:0 1 29.33%; flex:0 1 29.33%; }
}


/*********** Typography *******************/
h1{
  font: 3rem/1.5 'Inconsolata',monospace;
  text-transform: uppercase;
}
span.category a,.comment,.read-more,.load-more,#newsletter input{
  font: 1.6rem/1.5 'Ubuntu', sans-serif;
  color: #b4ad9e;
}
h2{ font: 3.6rem/1.5 'Playfair Display','serif'; }

.nav-item,p{
  font: 1.8rem/2 'Playfair Display','serif';
  color: #626262;
}

p{ line-height: 1.4; }
.featured-post p{
  font-size: 1.6rem;
}
h3{ font: 3em/1.2 'Playfair Display','serif'; }
#newsletter h2{
  font-size: 3rem;
  text-align: center;
}
/*********** Header + Nav ********************/
header{
  max-width: 1050px;
  margin: 0 auto;
}
nav,header{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack:distribute;
      justify-content:space-around;
}
nav{
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
h1{
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}
.nav-item,.category a{
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
.nav-item:before,.category a:before{
  content: '';
  position: absolute;
  width: 100%;
  background: #000;
  height: 2px;
  bottom: 0;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  visibility: hidden;
}
.nav-item:hover:before,.category a:hover:before{
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.nav-toggle{ display: none; }
/*********** Main **********************/
.category{
  display:block;
  text-transform: uppercase;
}
.read-more,.load-more{
  height: 2.4rem;
  border: 1px solid #000;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  padding: 1% 2%;
}
.read-more:hover,.load-more:hover{
  background: #000;
}
.load-more{
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
/* blogpost section*/
#blog-post img{
  max-width: 90%;
  display: block;
  margin: 0 auto;
}
#blog-post p,#blog-post h2,#blog-post span,#blog-post form{
  max-width:960px;
  margin:0.9rem auto;
  padding: 0 1.8rem;
}
#blog-post span.category{
  display: block;
  margin-top: 7rem;
}
input.comment{
  border: none;
  outline: none;
  padding: 2% 5%;
}

/* featured sections */
#featured-blogs{ margin-top: 7.2rem; }
#featured-blogs h2{ display: none; }

.featured-post .category,.featured-post h3,.featured-post p,.read-more{ margin-top: 1.6rem; }
.featured-post img{
  width: 100%;
  max-width: 410px;
}
/** newsletter section **/
#newsletter{
  background:#f0f0f0;
  padding: 7rem 1.8rem;
  margin-top: 1.8rem;
}
#newsletter form{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 410px;
}
input[type="email"]{
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  outline: none;
  border: none;
  background: transparent;
  color: #000!important;
}
#newsletter form{ border-bottom: 2px solid #000; }
input[type='submit']{
  background: url('../../img/send-icon.png') no-repeat center center;
  background-size: contain;
  width: 32px;
  padding: 2% 5%;
  outline: none;
  border: none;
  cursor: pointer;
}
/*********** Footer ********************/
footer{
  background: #000;
  padding: 3rem 1.6rem;
}
footer a{
  color: #fff;
  margin: 0 4.5px;

}
.wrapper{
  max-width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #fff;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.wrapper div{  margin: 2%; }

/*********** Media Queries *************/
@media screen and (max-width:800px) {
  header,nav,.nav-item{
    display: block;
    width: 100%;
    text-align: center;
  }
  .nav-item:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .nav-item:hover{ background-color: #000; }
  nav{
    height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: height 0.3s,opacity 0.5s;
    transition: height 0.3s,opacity 0.5s;
  }
  nav.show{
    height: 600px;
    max-height: 75vh;
    opacity: 1;
    visibility: visible;
    -webkit-transition: height 0.3s,opacity 0.5s;
    transition: height 0.3s,opacity 0.5s;
  }
  h1{
    display: inline-block;
    width: 40%;
  }
  button.nav-toggle{
    display: inline-block;
    border: none;
    padding: 0;
    outline: none;
    background:transparent;
    cursor: pointer;
    width:50%;
    text-align:right;
  }
  .nav-icon,.nav-icon:before,.nav-icon:after{
    width: 45px;
    height: 5px;
    display: inline-block;
    background: #000;
    -webkit-transition: height 0.2s,-webkit-transform 0.4s;
    transition: height 0.2s,-webkit-transform 0.4s;
    transition: transform 0.4s,height 0.2s;
    transition: transform 0.4s,height 0.2s,-webkit-transform 0.4s;
  }
  .nav-icon{
    position: relative;
    top: -10px;
  }
  .nav-icon:before,.nav-icon:after{
    content: '';
    position: absolute;
    left:0;
  }
  .nav-icon:before{ top: -10px; }
  .nav-icon:after{ bottom:-10px; }
  .open .nav-icon{ height: 0; }
  .open .nav-icon:before{
    top: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .open .nav-icon:after{
    top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }

}
@media screen and (max-width: 960px) {
  #blog-post img{  max-width: 100%; }
  #blog-post span.category{ margin-top: 2rem; }
}
@media screen and (max-width: 754px){
  html{ font-size: 70%; }
  footer{ font-size: 2rem; }
}
@media screen and (max-width: 500px){
  html{ font-size: 50%; }
}
