/*********************************************
Author: Nirjan Khadka
URL: 
Details: Minimo Blog
Date: 2017//9/8
**********************************************/

/********* color guide *********
#fff white background
#626262 greyish text
#b4ad9e light grey
#f0f0f0 grey background for newsletter section
#333 black text for newsletter header and footer text


/********* Typography **************
scale - http://www.modularscale.com/?18&px&2
logo - font-family: 'Inconsolata', monospace; 30px
 nav,button,headings(bold 36px),paragraphs,footer(16px) - font-family: 'Playfair Display', serif; 18px
 comment,category - font-family: 'Ubuntu', sans-serif; 18px
/******************************************
1. Reset
2. Grid
3. Typography style
4. Nav
5. Header
6. Main
7. Footer
8. Media Queries
*******************************************/

/************ Reset ***********************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
body {
    font-size: 62.5%;
    line-height: 1;
    background-color: #fff;
}
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a{ 
  text-decoration: none;
  display: inline-block;
 }
html{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*********** Grid ***********************/
.col-flex{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-flow:column;
          flex-flow:column;
  -webkit-box-align:start;
      -ms-flex-align:start;
          align-items:flex-start;
}
 
 .row{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-pack:distribute;
      justify-content:space-around;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
}
.col{
  padding:1%;
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
}
.col{ -webkit-box-flex:0; -ms-flex:0 1 96%; flex:0 1 96%; }

@media screen and (min-width:520px) and (max-width:800px){
  .col{ -webkit-box-flex:0; -ms-flex:0 1 46%; flex:0 1 46%; }
  .row{ -ms-flex-wrap:wrap; flex-wrap:wrap; }
}

@media screen and (min-width:800px){
  .col{ -webkit-box-flex:0; -ms-flex:0 1 29.33%; flex:0 1 29.33%; }
}

/*********** Typography *******************/
h1{
  font: 3rem/1.5 'Inconsolata',monospace;
  text-transform: uppercase;
}
.nav-item{
  font: 1.8rem/2 'Playfair Display','serif';
  color: #626262;
}
/*********** Header + Nav ********************/
header{
  max-width: 1050px;
  margin: 0 auto;
}
nav,header{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack:distribute;
      justify-content:space-around;
}
nav{
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
h1{
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}
.nav-item{
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.nav-item:before{
  content: '';
  position: absolute;
  width: 100%;
  background: #000;
  height: 2px;
  bottom: 0;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  visibility: hidden;
}
.nav-item:hover:before{
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.nav-toggle{
  display: none;
}
/*********** Main **********************/
/*********** Footer ********************/
/*********** Media Queries *************/
@media screen and (max-width:800px) {
  header,nav,.nav-item{
    display: block;
    width: 100%;
    text-align: center;
  }
  .nav-item:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .nav-item:hover{
    background-color: #000;
  }
  nav{
    height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: height 0.3s,opacity 0.5s;
    transition: height 0.3s,opacity 0.5s;
  }
  nav.show{
    height: 600px;
    max-height: 75vh;
    opacity: 1;
    visibility: visible;
    -webkit-transition: height 0.3s,opacity 0.5s;
    transition: height 0.3s,opacity 0.5s;
  }
  h1{
    display: inline-block;
    width: 40%;
  }
  button.nav-toggle{
    display: inline-block;
    border: none;
    padding: 0;
    outline: none;
    background:transparent;
    cursor: pointer;
    width:50%;
    text-align:right;
  }
  .nav-icon,.nav-icon:before,.nav-icon:after{
    width: 45px;
    height: 5px;
    display: inline-block;
    background: #000;
    -webkit-transition: height 0.2s,-webkit-transform 0.4s;
    transition: height 0.2s,-webkit-transform 0.4s;
    transition: transform 0.4s,height 0.2s;
    transition: transform 0.4s,height 0.2s,-webkit-transform 0.4s;
  }
  .nav-icon{
    position: relative;
    top: -10px;
  }
  .nav-icon:before,.nav-icon:after{
    content: '';
    position: absolute;
    left:0;
  }
  .nav-icon:before{
    top: -10px;
  }
  .nav-icon:after{
    bottom:-10px;
  }
  .open .nav-icon{
      height: 0;
  }
  .open .nav-icon:before{
    top: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .open .nav-icon:after{
    top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
}
